language: csharp
sudo: false
dist: trusty
mono: none
dotnet: 2.0.0
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1   
os:
  - linux
branches:
  only:
    - master
script:
  - dotnet restore BusTickets.WebAPI
  - dotnet build -c Release BusTickets.WebAPI
  - dotnet test BusTickets.WebAPI/BusTickets.BusinessServices.UnitTests/BusTickets.BusinessServices.UnitTests.csproj
notifications:
  email: false
  slack: 
    mainacademycsharp:HxP6iKPKFe60vWVbMZOAnuqA
